{% extends "base.html" %}

{% load static %}

{% block title %}FFstudio Publication{% endblock %}

{% block body %}

    {% include "menu/menuStudio.html" %}

    <section class=bio>
        <link rel="stylesheet" href="{% static 'assets/css/bio.css' %}" />
        <div class="content">
            <div class="left">
                <p>Institut Supérieur des Beaux Arts de Toulouse<br><span class="min">Étude d'Architecture, de Design et d'Art</span></p>
                <p>École Supérieure des Métiers Artistiques de Toulouse<br><span class="min">Étude d'Architecture et de Design</span></p>
                <p>Compagnons du Devoir en Plomberie</p>
            </div>
            <div class="trait"></div>
            <div class="right">
                <p>FF STUDIO opère dans les frontières traditionnelles et moderne de
                    l'architecture et du design.<br> Impliqué dans la conception et la
                    compréhension de projet, au titre du particulier et du professionnel,
                     dans la région Toulousaine.</p>
                <p>Le Studio a été créé suite à de nombreuses récompenses dans le
                    domaine de l'art, du design et de l'architecture, afin de répondre
                    aux questions économiques et qualitatives de futur Maître d'Ouvrage.</p>
                <p>Les partenaires mettant à pied d'œuvre vos projets sont des
                    entreprises locales ayant déjà fait leurs preuves à de multiples
                    reprises, afin d'avoir un travail qualitatif lors de la Maîtrise
                    d'Œuvre.</p>
            </div>
        </div>
    </section>

    {# add yearsMenu #}
    {# {% include "includes/years.html" %} #}

{% endblock %}
