{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'logo/icone.png' %}" height="28px" style="vertical-align: top; margin-right:5px;">
        {{ site_header|default:_('Django administration') }}
    </a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
