<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Permission refusée</title>
      <link rel="shortcut icon" type="image/png" href="/static/logo/favicon.ico">
      <link rel="stylesheet" href="{% static 'assets/css/error.css' %}" />

    </head>

    <body>
        <div class="content">
            <section class='logo'>
                <figure>
                    <img src='{% static "logo/error/png/logo_background.png" %}'>
                </figure>
            </section>
            <section class='error'>
                <figure>
                    <img src='{% static "logo/error/png/Error500.png" %}'>
                </figure>
            </section>
            <section>
                <figure class='button'>
                    <a href='/'><img src='{% static "logo/error/png/button_back_home.png" %}'></a>
                </figure>
            </section>
        </div>
    </body>

</html>
