<!-- footer -->
{% load static %}
<footer>
    <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}">
    <ul class="social">
        <li><a href="https://www.facebook.com/ffstudi00/" target="_blank"><img src="{% static 'logo/facebook.png' %}"></a></li>
        <li><a href="https://www.instagram.com/ffstudi00/" target="_blank"><img src="{% static 'logo/instagram.png' %}"></a></li>
    </ul>
    <div class="trait"></div>
    <ul class="info">
        <li>FF STUDIO</li>
        <li>-</li>
        <li>Florian Faure Architecte d'Intérieur / Designer</li>
        <li>-</li>
        <li>06 49 51 30 20</li>
        <li>-</li>
        <li>info@ffstudio.fr</li>
        <li>-</li>
        <li>Copyright © 2017 Florian Faure. Tous droits réservés.</li>
    </ul>
</footer>
