<!-- header -->

{% load static %}

<header>
    <link rel="stylesheet" href="{% static 'assets/css/header.css' %}">
        <div class="content">
        <a href="/"><div class="logo"></div></a>
        <div class="burgerMenu"></div>
    </div>
</header>
