{% load static %}

<div class="sliderBar">
    <link rel="stylesheet" href="{% static 'assets/css/slider.css' %}">
    <div class="leftChevron">
    </div>
    <div class="sliderView">
      <div class="sliderInner">
          {% for y in years %}
                  <div><a class="year" id="unfocused" href="/Architecture/{{y}}/">{{y}}</a></div>
          {% endfor %}

      </div>
    </div>
    <div class="rightChevron">
    </div>

</div>
