{% load static %}

<div class="years">
    <link rel="stylesheet" href="{% static 'assets/css/yearsMenu.css' %}">
    {% if years|length > 3 %}
        {% include "./slider.html" %}
    {% else %}
        <div class="content" id="threeYears" style="display: inline-flex;">
        {% for y in years %}
                <div><a class="year" href="/Architecture/{{y}}/">{{y}}</a></div>
        {% endfor %}
        </div>
    {% endif %}
</div>
