{% extends "base.html" %}

{% load static %}

{% block title %}FFstudio Prestation{% endblock %}

{% block body %}

    {% include "menu/menuStudio.html" %}

    <link rel="stylesheet" href="{% static '/assets/css/mission.css' %}">
    <section class="mission">
        <section class="architecture">
            <h1>ARCHITECTURE</h1>
            <p>La mission en architecture dépend du souhait du Maître d'Ouvrage,
un projet ou une mission complète.</p>
            <p>PROJET<br>Cette mission consiste en premier lieu à mettre en forme et à
analyser l'état existant de votre bien.<br> Élaborer une proposition pour vous
amener vers une solution correspondant à vos besoins.<br> Ce travail apporte un
support à la discussion, et vous permet de définir vos attentes</p>
            <p>MISSION COMPLÈTE<br>Suite à la phase projet, un accompagnement complet.<br> Réalisation
des documents de consultation des entreprises et suivi de chantier en temps et
en heure.<br> Prise en charge des démarches administratives le cas échéant.</p>
            <p>Agencement<br>Rénovation, Réhabilitation<br>Greffes Architecturales
(Extensions, Surélévations)<br>Transformation<br>Projets de Construction<br>[Liste non exhaustive]
            </p>
            <p class="min"><i class="min">Particuliers et Professionnels</i></p>
        </section>
        <section class="design">
            <h1>DESIGN</h1>
            <p>La mission en Design consiste en la réalisation d'objet à l'échelle
unitaire ou industrielle.<br> Elle consiste aussi, suivant certain projet, de
réaliser du mobilier sur mesure (bibliothèque, meuble...)<br> afin de s'adapter
au mieux au projet destiné au Maître d'Ouvrage.
            </p>
        </section>
    </section>

    {# add yearsMenu #}
    {# {% include "includes/years.html" %} #}

{% endblock %}
