<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}FFstudio Architecture/Design{% endblock %}
        </title>

        <meta name="description" content="Florian Faure Architecte d'Intérieur / Designer - 06 49 51 30 20 - info@ffstudio.fr - Copyright © 2017 Florian Faure.">

        <link rel="shortcut icon" type="image/png" href="/static/logo/favicon.ico">
        {% load static %}

        <link rel="stylesheet" href="{% static 'assets/css/body.css' %}" />
        <script type="text/javascript" src="{% static 'assets/js/onload.js' %}"></script>

    </head>

    <body class="container">

        {# adding header #}
        {% include "includes/headersnippet.html" %}

        {% block body %}{% endblock body %}

        {# adding footer #}
        {% include "includes/footersnippet.html" %}

        <!-- jQuery -->
        <script type="text/javascript" src="{% static 'assets/js/jQuery/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/menu/menu.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/menu/slider.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/menu/stickyMenuDesktop.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/menu/yearsMenu.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/projectViewer.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/menu/scrollTo.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/cookies.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/js/titleHide.js' %}"></script>

    </body>

</html>
