{% extends "base.html" %}

{% load static %}

{% block title %}FFstudio Publication{% endblock %}

{% block body %}

    {% include "menu/menuStudio.html" %}

    <section class="publications">
        <link rel="stylesheet" href="{% static 'assets/css/publication.css' %}">
        {% for publication in publications %}
            <section class="publication">
                {# Adding publisher #}
                {% if publication.publisher %}
                    <p id="publisher">{{ publication.publisher }}</p>
                {% endif %}
                {# Adding title #}
                {% if publication.title %}
                    <h2>{{ publication.title }}</h2>
                {% endif %}
                {# Adding info #}
                {% if publication.info %}
                    {% for info_ in publication.info %}
                        <p>{{ info_ }}</p>
                    {% endfor %}
                {% endif %}
                {# Adding img #}
                {% if publication.imageUrl  %}
                    <figure>
                        <img src="{{ publication.imageUrl }}" alt="{{ alt }}" onload="onloadOpacity(this)">
                        {% if publication.caption %}
                            <figcaption>{{ publication.caption }}</figcaption>
                        {% endif %}
                    </figure>
                {% endif %}
                {# Adding webAdress #}
                {% if publication.webAdress %}
                    {% for webAdress in publication.webAdress %}
                        <p>
                            <a href="{{ webAdress }}" target="_blank">{{ webAdress }}</a>
                        </p>
                    {% endfor %}

                {% endif %}
            </section>
        {% endfor %}
    </section>

    {# add yearsMenu #}
    {# {% include "includes/years.html" %} #}

{% endblock %}
