{% extends "base.html" %}

{% load static %}

{% block title %}FFstudio Contact{% endblock %}

{% block body %}

    {% include "menu/menuContact.html" %}

    <link rel="stylesheet" href="{% static '/assets/css/contact.css' %}">
    <section class="contact">
        <section class="content">
            <section class="ffinfo">
                <h1>Florian Faure</h1>
                <h1>Architecte d'intérieur <strong>/</strong> Designer</h1>
                <div class="phone">
                    <p>06 49 51 30 20</p>
                </div>
                <div class="mail">
                    <p>info@ffstudio.fr</p>
                </div>
            </section>

            <form class="email" action="/contact/mail/" method="post">{% csrf_token %}

                <header>
                    <div>
                        <label for="name">Nom:</label>
                        <input type="text" name="name" placeholder="Votre nom." required />
                    </div>

                    <div>
                        <label for="email">E-mail:</label>
                        <input type="email" name="email" placeholder="Votre mail." required />
                    </div>
                </header>
                <div class="text">
                    <label for="text">Votre message:</label>
                    <textarea name="text" placeholder="Votre message ici." required></textarea>
                </div>

                {% if mail %}
                <span>Message envoyé.</span>
                {% elif recaptcha %}
                <span>Validez le REcaptcha avant l'envoi.</span>
                {% endif %}

                <div class="sending">
                    <div class="g-recaptcha" data-sitekey="6LdpfMwUAAAAAF3CFF8nR3je6r6PglWsMimCVY0s"></div>
                    <input type="submit" name="sending" value="Envoyer">
                </div>

            </form>
        </section>
    </section>

    {# add yearsMenu #}
    {# {% include "includes/years.html" %} #}

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript" src="{% static 'assets/js/captcha.js' %}"></script>

{% endblock %}
