{% load static %}

<div class="cookies">
    <link rel="stylesheet" href="{% static '/assets/css/cookies.css' %}">
    <div class="content">
        <p>Ce site utilise des cookies relatifs à la sécurité. Nous ne traçons pas et ne collectons aucune donnée.</p><p>D'accord</p>
    </div>
</div>
