<!-- home gallery -->

{% load static %}

<section class="gallery">
  <link rel="stylesheet" href="{% static 'assets/css/gallery.css' %}">
  <div class="content">

    {% for picture in home_pictures %}
            <figure>
                <img src="{{ picture.url }}" alt="{{ picture.tag }}" class="projectPicture" id="{{ picture.project }}" onload="onloadOpacity(this)"/>
                {% if picture.project != 'empty' %}
                <figcaption>{{ picture.project }}</figcaption>
                {% endif %}
            </figure>
    {% endfor %}
  </div>
</section>
