<!-- menu -->
{% load static %}

<nav class="menuDesktop">
    <link rel="stylesheet" href="{% static 'assets/css/menu.css' %}">

    {% if nav == True %}
        <div class="content" id="extendProject">

            <div class="projectMenu">
                <div class='title'><span id="project" class="select">Projet</span></div>
                    <ul class="innerMenu" id="innerMenuProject" style="display: block;">
                    <li class="yearsDesktop">
                        {% if selected.category == "Architecture" %}
                        <span class="AMenu" id="focusDesktop">Architecture</span>
                        {% else %}
                        <span class="AMenu" id="unfocusDesktop">Architecture</span>
                        {% endif %}
                        <div class="years" id="desktopMenuYears" {% if selected.category == "Architecture" %}style="display: block; opacity: 1;"{% endif %}>
                            <link rel="stylesheet" href="{% static 'assets/css/yearsMenu.css' %}">
                            {% if years|length > 3 %}
                                {% include "./sliderHome.html" %}
                            {% else %}
                                <div class="content" id="threeYears" style="display: inline-flex;">
                                {% for y in years %}
                                    {% if selected.date == y %}
                                        <div><span class="year" id="focused">{{y}}</span></div>
                                    {% else %}
                                        <div><span class="year" id="unfocused">{{y}}</span></div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                    </li>
                    <li>
                        {% if selected.category == "Design" %}
                        <span class="DMenu" id="focusDesktop">Design</span>
                        {% else %}
                        <span class="DMenu" id="unfocusDesktop">Design</span>
                        {% endif %}
                    </li>
                </ul>
            </div>

    {% else %}

        <div class="content">
            <div class="projectMenu">
                <div class='title'><span id="project">Projet</span></div>
                    <ul class="innerMenu" id="innerMenuProject">
                    <li class="yearsDesktop">
                        <span class="AMenu" id="unfocusDesktop">Architecture</span>
                        <div class="years">
                            <link rel="stylesheet" href="{% static 'assets/css/yearsMenu.css' %}">
                            {% if years|length > 3 %}
                                {% include "./sliderHome.html" %}
                            {% else %}
                                <div class="content" id="threeYears" style="display: inline-flex;">
                                {% for y in years %}
                                    <div><span class="year" id="unfocused">{{y}}</span></div>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                    </li>
                    <li>
                        <span class="DMenu" id="unfocusDesktop">Design</span>
                    </li>
                </ul>
            </div>

    {% endif %}

        <div class="studioMenu">
            <div class='title'><span id="studio">Studio</span></div>
            <ul class="innerMenu" id="innerMenuStudio">
                <li><a href="/bio/" title="bio">Bio</a></li>
                <li><a href="/prestation/" title="prestation">Prestation</a></li>
                <li><a href="/publication/" title="publication">Publication</a></li>
            </ul>
        </div>

        <div class="contactMenu">
            <div class='title'><a href="/contact/" title="contact">Contact</a></div>
        </div>
    </div>
</nav>

<!-- mobile menu -->

<nav class="menuMobile">
    <div class="content">
        <ul>
            <li>Projet</li>
            <li><span id="AMenuMobile">Architecture</span></li>
            <li><span id="DMenuMobile">Design</span></li>
            <li>Studio</li>
            <li><a href="/bio/" title="bio">Bio</a></li>
            <li><a href="/publication/" title="publication">Publication</a></li>
            <li><a href="/prestation/" title="prestation">Prestation</a></li>
            <li><a href="/contact/" title="contact">Contact</a></li>
        </ul>
    </div>

</nav>
