<!-- display project in fullScreen -->
{% load static %}
<section class="projectViewer">
    <link rel="stylesheet" href="{% static 'assets/css/projectViewer.css' %}">
    <div class="content">

        <div class="X">
        </div>
        <section class="leftDesktop">

            <section class="project">
                <h2>Title</h2>
                <figure>
                    <img src="" onload="onloadOpacity(this)"/>
                    <figcaption></figcaption>
                </figure>
            </section>

            <section class="pictureSample">
                <!-- for image dans le projet... -->
            </section>
        </section>
        <section class="linkDesignMobile">
            <p>Pour obtenir ce mobilier, <a href="/contact">cliquez-ici</a></p>
        </section>

        <section class="rightDesktop">

            <section class="textDesktop">
                <h2>Title</h2>
                <p></p>
            </section>

            <section class="feature">
            </section>

            <section class="textMobile">
                <p></p>
            </section>

            <section class="linkDesignDesktop">
                <p>Pour obtenir ce mobilier, <a href="/contact">cliquez-ici</a></p>
            </section>
        </section>

    </div>

</section>
