{% load static %}

<div class="sliderBar">
    <link rel="stylesheet" href="{% static 'assets/css/slider.css' %}">
    <div class="leftChevron">
    </div>
    <div class="sliderView">
        {% if nav is True %}
            <div class="sliderInner">
                {% for y in years %}
                    {% if y == selected.date %}
                        <div><span class="year" id="focused">{{y}}</span></div>
                    {% else %}
                        <div><span class="year" id="unfocused">{{y}}</span></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div class="sliderInner">
                {% for y in years %}
                    <div><span class="year" id="unfocused">{{y}}</span></div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="rightChevron">
    </div>
</div>
