<!-- top_menu -->
{% load static %}
<section class="topMenu">

    <link rel="stylesheet" href="{% static 'assets/css/topMenuMobile.css' %}">

    <div class="category">
        {% if nav is True and selected.category == "Design" %}
            <div class="cat"><span class="ATopMenuMobile" id="unfocusTop">Architecture</span></div>
            <div class="cat"><span class="DTopMenuMobile" id="focusTop">Design</span></div>
        {% elif nav is True and selected.category == "Architecture" %}
        <div class="cat"><span class="ATopMenuMobile" id="focusTop">Architecture</span></div>
        <div class="cat"><span class="DTopMenuMobile" id="unfocusTop">Design</span></div>
        {% elif selected.category is None %}
            <div class="cat"><span class="ATopMenuMobile" id="unfocusTop">Architecture</span></div>
            <div class="cat"><span class="DTopMenuMobile" id="unfocusTop">Design</span></div>
        {% endif %}
    </div>
</section>
