{% load static %}

<div class="years">
    <link rel="stylesheet" href="{% static 'assets/css/yearsMenu.css' %}">
    {% if years|length > 3 %}
        {% include "./slider.html" %}
    {% else %}
        <div class="content" id="threeYears" style="display: inline-flex;">
        {% for y in years %}
            {% if selected.date == y %}
              <div><span class="year" id="focused">{{y}}</span></div>
            {% else %}
                <div><span class="year" id="unfocused">{{y}}</span></div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
</div>
