<!-- menu -->
{% load static %}
<nav class="menuDesktop">
    <link rel="stylesheet" href="{% static 'assets/css/menu.css' %}">

    <div class="content" id="extendStudio">

        <div class="projectMenu">
            <div class='title'><span id="project">Projet</span></div>
            <ul class="innerMenu" id="innerMenuProject">
                <li class="yearsDesktop">

                    <span class="AMenu" id="unfocusDesktop">Architecture</span>
                    <div class="years">
                        <link rel="stylesheet" href="{% static 'assets/css/yearsMenu.css' %}">
                        {% if years|length > 3 %}
                            {% include "includes/slider.html" %}
                        {% else %}
                            <div class="content" id="threeYears" style="display: inline-flex;">
                                {% for y in years %}
                                        <div><a class="year" id="unfocused" href="/Architecture/{{y}}/" title="architecture">{{y}}</a></div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                </li>
                <li>
                    <a class="DMenu" id="unfocusDesktop" href="/Design/" title="design">Design</a>
                </li>
            </ul>
        </div>

        <div class="studioMenu">
            <div class='title'><span {% if menu == "studio" %}class="select"{% endif %} id="studio">Studio</span></div>
            <ul class="innerMenu" id="innerMenuStudio" style="display: block;">
                <li><a href="/bio/" {% if page == "bio" %}id="select"{% endif %} title="bio">Bio</a></li>
                <li><a href="/prestation/" {% if page == "mission" %}id="select"{% endif %} title="prestation">Prestation</a></li>
                <li><a href="/publication/" {% if page == "publication" %}id="select"{% endif %} title="publication">Publication</a></li>
            </ul>
        </div>

        <div class="contactMenu">
            <div class='title'><a href="/contact/" title="contact">Contact</a></div>
        </div>
    </div>
</nav>

<!-- mobile menu -->

<nav class="menuMobile">
    <div class="content">
        <ul>
            <li>Projet</li>
            <li><span  id="AMenuMobile">Architecture</span></li>
            <li><a id="DMenuMobile" href="/Design/" title="design"</a>Design</li>
            <li>Studio</li>
            <li><a href="/bio/" title="bio">Bio</a></li>
            <li><a href="/publication/" title="publication">Publication</a></li>
            <li><a href="/prestation/" title="prestation">Prestation</a></li>
            <li><a href="/contact/" title="conatct">Contact</a></li>
        </ul>
    </div>

</nav>
